h1 {
    text-align: center;
    color: black;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px; 
}
body {
    background-color: white;
}

.container {
    border: 3px solid black;
    background-color: grey;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-right: 25px;
    margin-left: 25px;
    float: left; 
}
    

#p1 {
    background-color: darksalmon;
    border: 2px  solid black;
    float: right;
    padding: 5px;
    margin: auto;
    width: 50%;
    text-align: center;
    color: black;
    font-style: bold;
    font-size: 18px;


}
#p2 {
    background-color: red;
    border: 2px solid black;
    float: right;
    padding: 5px;
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;

}
#p3 {
    background-color: yellow;
    border: 2px solid black;
    float: right;
    padding: 5px;
    margin: auto;
    width: 50%;
    text-align: center;
    color: black;
    font-style: bold;
    font-size: 18px;
    
}
p {
  
    clear: right;
    color: black;
}
/* Desktop View */

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/* Tablet View */

@media (min-width: 768px) and (max-width: 991px){
  .col-md-6 col-md-12 {
    float: left;
  }
   .col-md-6{
   width: 50%;
 }
  .col-md-12{
   width: 100%;
 }
}

/* Mobile View */

@media (max-width: 767px){
  .col-sm-12{
    width: 100%;
    float: left;
  }
}